<div class="header-info">
  <span class="header-info-name"><a href="/">{{ site.title }}</a></span>
  <br>
  <!-- <span class="header-info-desc">{{ site.description }}</span> -->
</div>
<nav class="header-nav">
  <ul class="header-main-nav">
    {% assign pushed = false %}
    {% for item in site.data.menus %}
      {% assign is_absolute = item.absoluteUrl | default: item.urlAbsolute %}
      {% assign classes = 'header-main-nav-item' %}

      {% if is_absolute and pushed == false %}
        {% assign classes = classes | append: ' push-right' %}
        {% assign pushed = true %}
      {% endif %}

      <li class="{{ classes }}">
        <a
          href="{% if is_absolute %}{{ item.url }}{% else %}{{ item.url | relative_url }}{% endif %}"
          {% if is_absolute %}target="_blank" rel="noopener noreferrer"{% endif %}
        >
          {% if item.default %}
            {{ site.data.lang[site.language][item.default] }}
          {% else %}
            {{ item.title }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

