@charset "utf-8";

.posts-list-item {
  display: block;
  position: relative;
  margin: 2vh 0;
  overflow: hidden;
}

.posts-list-item-name {
  width: calc(90% - 120px);
  font-weight: 300;
}

.posts-list-pagination {
  margin: 20px 0 10px 0;
  text-align: center;
}