@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

html, body {
  height: 95%;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-text-color);
}

.category-posts a {
  font-weight: normal;
}

p a {
  color: var(--highlight-color);
  text-decoration: underline dotted;
  text-decoration-color: var(--highlight-color);;
}

h2 a {
  color: var(--highlight-color);
  text-decoration: underline dotted;
  text-decoration-color: var(--highlight-color);;
}

a:hover {
  color: #aaa;
}

blockquote {
  margin: 15px;
  padding-left: 15px;
  border-left: 2px solid #888;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  margin: 5px 0;
  text-indent: 0;
  text-align: left;
}

h2 {
  font-size: 1.3em;
}

hr {
  margin: 10px;
  border: 1px solid #eee;
}

img {
  max-width: 700px;
}

p {
  margin-bottom: 2vh;
  text-align: justify;
}

li {
  margin-bottom: 1vh;
  text-align: justify;
}

table {
  width: 100%;
}

tbody tr:hover{
  background-color: #f5f5f5;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {  
  padding: 8px;
  border-bottom: 1px solid #ccc;
  background: #f5f5f5;
}


