---
---

@charset "utf-8";

@import
  "reset",
  "container",
  "header",
  "float",
  "footer",
  "page",
  "post-list",
  "post",
  "category",
  "highlighter",
  "mobile",
  "printer",
  "task-list",
  "mermaid"
;


#themeSelector {
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  border-radius: 5px;
  border: 1;
  border-color: var(--primary-text-color);
}


html {
  --primary-background-color: white;
  --primary-text-color: #222;
  --primary-highlight-color: #eeeeee;
  padding: 0;
  margin: 0;
}

.header-nav .header-main-nav {
  display: inline;
  align-items: center;
  gap: 0.75rem;
  list-style: none;
  padding: 0;
}

.header-nav {
  margin-bottom: 30px;
}

/* Only the first right-side item gets this via Liquid */
.header-nav .header-main-nav .push-right {
  margin-left: auto;
}
