---
layout: default
---
		<!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
                <header id="header" >
                    <div class="content">
                        <div class="inner" style="text-align: justify;">
                            <h1>{{page.title}}</h1>
                            <p >{{content}}</p>
                            <div>{% include share_buttons.html %}</div>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/#blog">Blog</a></li>
                        </ul>
                    </nav>
                </header>


            
